body {
  background-color: #b686c9fd;
  margin: 16px;
  line-height: 1.5;
  font-family: 'Franklin Gothic Medium';
  letter-spacing: 0.5px;
}

#search-box {
  max-width: 320px;
  font: inherit;
  font-size: 15px;
  outline: 10px solid  #590d70;
  margin-bottom: 24px;
  border: none;
  padding: 10px 1rem;
  transition: 0.25s;
}

.country-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.country-list li {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
}

.country-list img {
  margin-right: 10px;
}

.country-info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
}